<!DOCTYPE html>
<html>
<head>
  <title>Netflix Reviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <!-- Slick -->
  <link href="http://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet"/>
  <link href="http://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Slick -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
</head>
  <body>

      <%= render 'layouts/navbar' %>

      <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value) %>
      <% end %>
        <%= yield %>
      </div>
      
      <%= render 'layouts/footer' %>
    
  </body>
</html>
